<header>
  <nav>
    <label for="" class="icons">
      <i class='bx bx-home-alt-2' routerLink="/"></i>
    </label>
    <input type="checkbox" id="check">
    <label for="check" class="icons display">
      <i class='bx bx-menu' id="menu-icon"></i>
      <i class='bx bx-x' id="close-icon"></i>
    </label>
    <div class="buttons">
      <button class="button grey" style="--i:0;" routerLink="/forum">Fórum</button>
      <button class="button grey" style="--i:1;" routerLink="/about-me">Rólam</button>
      <button class="button grey" style="--i:2;" routerLink="/parallax">Parallax</button>
      
      <div *ngIf="(isLoggedIn$ | async); else notLoggedIn">
          <button class="button red" style="--i:3;" (click)="logout()">{{ currentUser?.username}}</button>
      </div>
      <ng-template #notLoggedIn>
        <button class="button blue" style="--i:3;" routerLink="/login">Login</button>
        <button class="button blue" style="--i:4;" routerLink="/sign-up">Sign Up</button>
      </ng-template>
    </div>
  </nav>
</header>
