.header-container {
  display: flex;
}

header {
  background-color: #374151;
  padding: 10px;
  width: 100%;
}

nav {
  display: flex;
}

.logout{
  margin-left: auto;
  margin-right: 10px;
  display: flex;
  align-items: center;
  }

.logout-text {
  color: white;
  font-size: 25px;
  margin-right: 10px;
}

.button {
  /*background-color: #4CAF50;*/
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 3px 3px;
  transition-duration: 0.4s;
  cursor: pointer;
}


.right-buttons {
  margin-left: auto;
  display: flex;
  margin-right: 10px;
}

.home-button {
  text-decoration: none;
  background-color: #374151;
  border: 2px solid darkgoldenrod;
  color: darkgoldenrod;
  margin-left: 10px;
  font-size: 25px;
}

.home-button:hover {
  background-color: darkgoldenrod;
  color: white;
}

.login-button, .signup-button {
  /*text-decoration: none;*/
  border: 2px solid #4CAF50;
  background-color: #374151;
  color: #4CAF50;
  margin-left: 10px;
  font-size: 25px;
  /*padding-right: 10px;*/
}

.login-button:hover, .signup-button:hover {
  background-color: #4CAF50;
  color: white;
}

.logout-button {
  border: 2px solid #f44336;
  background-color: #374151;
  color: #f44336;
  font-size: 25px;
}

.logout-button:hover {
  background-color: #f44336;
  color: white;
}

  
  