.header-container {
  display: flex;
}

header {
  background: #ffffff;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  transition: all 0.4s ease;
  align-items: center;
}

@media (max-width: 768px) {
  header {
    height: 50px;
  }
}

nav {
  padding: 16px 15%;
  display: flex;
}

@media (max-width: 1500px) {
  nav {
    padding: 16px 100px;
  }
}

@media (max-width: 768px) {
  nav {
    padding: 6px 10px;
  }
}

.logout, .right-buttons {
  margin-left: auto;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .right-buttons {
    margin-left: auto;
    display: flex;
    margin-right: 5px;
  }
}

.button {
  font-family: "Source Sans Pro", Sans-serif;
  font-size: 1em;
  font-weight: 600;
  color: #ffffff;
  border-radius: 30px 30px 30px 30px;
  border: none;
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
  padding: 10px 10px 10px 10px;
  margin-left: 8px;
  cursor: pointer;  
}

@media (max-width: 768px) {
  .button {
    padding: 8px 8px 8px 8px;
    margin-left: 4px;
    margin-top: 2px;
    cursor: pointer;  
  }
}

.button.blue {
  background-color: #4cb3f5;
}

.button.red {
  background-color: #ff4f43;
}

.button.green {
  background-color: #95b920;
}

.button:hover {
  background: #ffb040;
  color: white;
}