<div ngClass="header-container">
<header>
  <nav>
    <button ngClass="home-button" routerLink="/">Home</button>

    <div ngClass="logout" *ngIf="(isLoggedIn$ | async); else notLoggedIn">
      <div ngClass="logout-text">
        Welcome back, {{ currentUser?.username}}!
      </div>
        <button ngClass="logout-button" (click)="logout()">Logout</button>
    </div>

    <ng-template #notLoggedIn>
      <div ngClass="right-buttons">
        <button ngClass="login-button" routerLink="/login">Login</button>
        <button ngClass="signup-button" routerLink="/sign-up">Sign Up</button>
      </div>
    </ng-template>

  </nav>
</header>
</div>
