<div class="header-container">
<header>
  <nav>
    <button class="button blue" routerLink="/">DIGITAL PLAYGROUND</button>
    <button class="button green" routerLink="/forum">fórum</button>
    <button class="button green" routerLink="/about-me">rólam</button>
    <div class="logout" *ngIf="(isLoggedIn$ | async); else notLoggedIn">
        <button class="button red" (click)="logout()">{{ currentUser?.username}}</button>
    </div>
    <ng-template #notLoggedIn>
      <div class="right-buttons">
        <button class="button blue" routerLink="/login">Login</button>
        <button class="button blue" routerLink="/sign-up">Sign Up</button>
      </div>
    </ng-template>
  </nav>
</header>
</div>
