<div class="main">
    <div class="content">
        <div class="content-left">
            <img class="card-picture mask-image" src="/assets/profile_pic.png" alt="A profile picture about me." />
        </div>
        <div class="content-right">
            <div class="text">
                <h2>
                    Szia! Én egy
                </h2>
                <h1>
                    <span>{{ currentDescription }}</span><span class="cursor">|</span> 
                </h1>
                <h2>
                    vagyok.
                </h2>
                <p>
                    A fentiek közül most a programozást emelném ki.
                    Amikor innováció és szenvedély találkozik a digitális világban. 
                    Szeretek kódolni, mert a programozás nem csak szakma, hanem kreatív erő, 
                    amely által ötleteim valósággá válnak. 
                </p>
            </div>
        </div>
    </div>
</div>