<div class="main">
    <div class="content-left">
        <img class="card-picture mask-image" src="/assets/profile_pic.png" alt="A profile picture about me." />
    </div>
    <div class="content-right">
        <div class="text">
            <h1>
                Egy Ötlet Valósággá Válása Kóddal
            </h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eget velit scelerisque, pretium lectus a, interdum orci. Sed tincidunt, quam nec faucibus scelerisque, mauris ipsum faucibus dolor, ut semper eros enim ac enim.
            </p>
        </div>
    </div>
</div>