.weather-card {
    background: linear-gradient(85deg,#222222,#343434);
    border: 2px solid #36515b;
    font-size: 22px;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
    margin: 40px 0px;
    padding: 10px;
}

.weather-card span.static {
  color: #7ca2b0;
}

.weather-card span.dynamic {
  color: #c0ffc2;
  opacity: 0;
  animation: fade-in 2s ease-out forwards;
}

  
  @keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
  }