<!-- <div id="weather">
  <span class="static">Country: </span><span class="dynamic">{{country}}</span>
  <br>
  <span class="static">Name: </span><span class="dynamic">{{locationName}}</span>
  <br>
  <span class="static">Temperature: </span><span class="dynamic">{{temperature}}°C</span>
  <br>
  <span class="static">Wind strength: </span><span class="dynamic">{{windStrength}} Kph</span>
  <br>
  <span><img src={{icon}} alt="icon"></span>
  <br>
  <span class="dynamic">{{text}}</span>
</div> -->

<div id="weather">
    <span class="static">Country: </span><span class="dynamic">Hungary</span>
    <br>
    <span class="static">Name: </span><span class="dynamic">Pécs</span>
    <br>
    <span class="static">Temperature: </span><span class="dynamic">22°C</span>
    <br>
    <span class="static">Wind strength: </span><span class="dynamic">14.2 Kph</span>
    <!-- <br>
    <span><img src={{icon}} alt="icon"></span> -->
    <br>
    <span class="dynamic">Partly cloudy</span>
</div>