.weather-card {
    background: linear-gradient(85deg,#222222,#343434);
    border: 2px solid #36515b;
    font-size: 28px;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
    margin: 12px;
    /*max-width: 300px;*/
    padding: 10px;
    /*text-align: center;*/
}

.weather-card span.static {
  color: #486d7a;
  font-weight: bold;
}

.weather-card span.dynamic {
  color: #7eee82;
  opacity: 0;
  animation: fade-in 2s ease-out forwards;
}

  
  @keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
  }