#weather {
    font-size: 35px;
    margin-top: 100px;
    max-width: 450px;
    margin-right: 0px;
    margin-left: 0px;
    float: left;
    border: 10px solid #ccc;
    padding: 15px;
    /* background: url('/assets/weather-background2.png') no-repeat center center fixed;
    background-color: rgba(255, 255, 255, 0.6); */
    align-items: center;
    justify-content: center;
}


#weather span.static {
    color: rgb(12, 2, 23);
    font-weight: bold;
}
  
#weather span.dynamic {
    color: rgb(58, 56, 95);
    font-style: italic;
    font-weight: bold;
    opacity: 0;
    animation: fade-in 2s ease-out forwards;
  }
  
  @keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
  }