.single-post-container {
    margin-top: 70px;
    background: #52524f09;
}

@media screen and (max-width: 768px) {
    .single-post-container {
        margin-top: 20px;
    }
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 500;
    color: #643585;
    line-height: 105%;
    margin-bottom: 25px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 170%;
    font-weight: 500;
    color: #643585;
    line-height: 105%;
    margin-top: 20px;
    margin-bottom: 25px;
}

.middle-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.post {
    background: #929e9917;
    color: #fff;
    flex: 1;
    margin: 20px;
    border-radius: 5px;
    padding: 20px;
    height: auto;
    min-width: 1000px;
    max-width: 1000px;
}

@media screen and (max-width: 768px) {
    .post {
        min-width: 300px;
        margin: 30px 0px 10px 0px; 
        padding: 10px 10px 10px 10px;
    }
}

.post .title {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #643585;
    line-height: 105%;
    margin-bottom: 25px;
}

@media screen and (max-width: 768px) {
    .post .title {
        font-size: 36px;
        font-weight: 500;
    }
}

.post .content {
    position: relative;
    font-family: "__Montserrat_cce811","__Montserrat_Fallback_cce811",
    BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue";
    line-height: 1.3;
    font-weight: 400;
    color: #1E2029;
    font-size: 160%;
    margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
    .post .content {
        padding-left: 5px;
    }
}

.post .author {
    font-size: 15px;
    color: #5522ba;
}

.button {
    margin-top: 20px;
    font-family: "Source Sans Pro", Sans-serif;
    font-size: 1em;
    font-weight: 600;
    color: #ffffff;
    background-color: #4cb3f5;
    border-radius: 30px 30px 30px 30px;
    border: none;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
    padding: 10px 10px 10px 10px;
    margin-left: 8px;
    cursor: pointer;  
  }

.button.delete {
    margin-top: 10px;
    background-color: #ff4f43;
    font-size: 13px;
    padding: 8px;
}
  
.button:hover {
    background: #ffb040;
    color: white;
}

.textarea-field {
    background: #e1e4e6ae;
    color: #4f2170;
    padding: 8px;
    font-size: 16px;
    width: 400px;
    height: 100px;
    border: #4CAF50;
}

@media only screen and (max-width: 768px) {
    .textarea-field {
        font-size: 14px;
        width: 300px;
        height: 100px;
        border: #4CAF50;
    }
}

.comment-card {
    background: #9cd75527;
    color: white;
    flex: 1;
    margin: 20px;
    border-radius: 5px;
    border: #103845 1px solid;
    padding: 10px;
    height: auto;
    min-width: 200px;
    max-width: 500px;
}

@media screen and (max-width: 768px) {
    .comment-card {
        min-width: 200px;
        max-width: 300px;
        margin: 30px 0px 10px 0px; 
        padding: 10px 10px 10px 10px;
    }
}

.comment-card .content {
    position: relative;
    font-family: "__Montserrat_cce811","__Montserrat_Fallback_cce811",
    BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue";
    line-height: 1.3;
    font-weight: 400;
    color: #1E2029;
    font-size: 140%;
    margin-bottom: 30px;
}

.comment-card .author {
    font-size: 14px;
    color: #5522ba;
}