<div class="single-post-container">
    <div class="middle-container">
        <div class="post">
            <div class="title">{{currentPost.title}}</div>
            <div class="content">{{currentPost.content}}</div>
            <div class="author">{{currentPost.author}}</div>
            <div class="author">{{currentPost.createdAt | date:'YYYY-MM-dd HH:mm' }}</div>
            <button class="button delete" *ngIf="username == currentPost.author" (click)="deletePost(currentPost.id)">Törlés</button>
            <div class="middle-container">
                <div *ngIf="currentPost.comments?.length; else noComments">
                    <h2>Hozzászólások:</h2>
                    <div class="comment-card" *ngFor="let comment of currentPost.comments">
                        <div class="content"> {{comment.content}} </div>
                        <div class="author"> {{comment.author}} </div>
                        <div class="author"> {{comment.createdAt | date:'YYYY-MM-dd HH:mm' }} </div>
                        <button class="button delete" *ngIf="username == comment.author" (click)="deleteComment(comment.id)">Törlés</button>
                    </div>
                </div>
            </div>
            <ng-template #noComments>
                <h2>Nincsenek hozzászólások</h2>
            </ng-template>
        </div>
    </div>
    <div *ngIf="showTextarea">
        <br>
        <h2>Új hozzászólás</h2>
        <textarea class="textarea-field" [(ngModel)]="newComment.content" type="text" rows="5">
        </textarea>
    </div>
    <ng-template #pushComment>
        <div></div>
    </ng-template>
    <div class="middle-container">
        <button class="button" (click)="addComment()">Hozzászólok</button>
    </div>
    <br>
    <div></div>
</div>
