.number-sorting-container {
    background: linear-gradient(85deg,#434343,#262626);
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    width: 100%;
    margin-top: 40px;
}

.numbers {
    padding: 6px 40px;
    font-size: 22px;
    background-color: #f2f2f2;
    border: 1px solid #292929;
    border-radius: 5px;
    cursor: pointer;
    /*transition: transform 0.1s;*/
}

.ok-button {
    border: 2px solid #4CAF50;
    background: linear-gradient(85deg,#222222,#343434);
    padding: 5px 15px;
    color: #4CAF50;
    font-size: 22px;
    margin-top: 40px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.ok-button:hover {
    background: linear-gradient(85deg,#4CAF50,#343434);
    color: white;
}

h1 {
    color: white;
    font-size: 40px;
    margin-bottom: 0;
    margin-top: 40px;
}

h2 {
    color: white;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

span {
    color: #4CAF50;
}