<div class="parallax-container">
    <section class="parallax">
        <h2 id="text" #text>A kapuk záródnak</h2>
        <img src="/assets/parallax/tree-left.png" alt="branch of tree" id="tree-left" #tree_left>
        <img src="/assets/parallax/tree-right.png" alt="branch of tree" id="tree-right" #tree_right>
        <img src="/assets/parallax/gate-left.png" alt="an old gate" id="gate-left" #gate_left>
        <img src="/assets/parallax/gate-right.png" alt="an old gate" id="gate-right" #gate_right>
        <img src="/assets/parallax/grass.png" alt="siluette of grass" id="grass" #grass>
        <br>
    </section>

    <section class="sec">
        <h2>Parallax stílus</h2>
        <h3>A parallax weboldal stílus egy olyan dizájn megközelítés, 
            amely a háttér és a tartalom különböző sebességű mozgását használja fel a térbeli mélység 
            és az interaktív élmény fokozására. A parallax hatás azt eredményezi, 
            hogy egyes elemek a képernyőn gyorsabban vagy lassabban mozognak, amikor a felhasználó görget. </h3>
        <h3>Egyelőre még ezt is csak próbálgatom. Ez az effekt sokkal jobban néz ki pc-n, nagy képernyőn, 
            de azért mobilra is megpróbáltam optimalizálni, hogy ott is látható legyen, mi történik. :)</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip 
            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit 
            esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
            sunt in culpa qui officia deserunt mollit anim id est laborum.<br></p>
    </section>
</div>