.uni-dialog-container {
    background: #4f2170a5;
    color: white;
}


h1 {
    font-size: 24px;
    margin: 0;
    padding: 20px 20px;
    font-weight: 300;
    
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 20px;
        padding: 5px 10px;
    }
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

.button {
    font-family: "Source Sans Pro", Sans-serif;
    font-size: 1em;
    font-weight: 600;
    color: #ffffff;
    border-radius: 30px 30px 30px 30px;
    border: none;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
    padding: 10px 10px 10px 10px;
    margin-bottom: 20px;
    cursor: pointer;  
}

@media only screen and (max-width: 768px) {
    .button {
        font-size: 14px;
        font-weight: 400;
        padding: 7px 10px 7px 10px;
    }
}

.button:hover {
    background: #ffb040;
    color: white;
}

.button.ok {
    background-color: #95b920;
    margin-right: 15px;
}

.button.cancel {
    background-color: #ff4f43;
    margin-left: 15px;
}