.add-post-container{
    padding-top: 50px;
    margin-top: 60px;
    background: url("/assets/forum_wall.jpg");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}


.forum-page-container {
    margin-top: 60px;
    background: url("/assets/forum_wall.jpg");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    padding: 20px;
}


h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 200%;
    font-weight: 500;
    color: #643585;
    line-height: 105%;
    margin-bottom: 25px;
}

.button {
    font-family: "Source Sans Pro", Sans-serif;
    font-size: 1em;
    font-weight: 600;
    color: #ffffff;
    background-color: #4cb3f5;
    border-radius: 30px 30px 30px 30px;
    border: none;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
    padding: 10px 10px 10px 10px;
    margin-left: 8px;
    cursor: pointer;  
  }
  
.button:hover {
background: #ffb040;
color: white;
}

.input-field {
    background: #e1e4e6ae;
    color: #4f2170;
    padding: 8px;
    font-size: 18px;
    width: 300px;
    height: 20px;
    border: #4CAF50;
}

@media only screen and (max-width: 768px) {
    .input-field {
        font-size: 16px;
        width: 280px;
        height: 16px;
        border: #4CAF50;
    }
}

.textarea-field {
    background: #e1e4e6ae;
    color: #4f2170;
    padding: 8px;
    font-size: 18px;
    width: 400px;
    height: 200px;
    border: #4CAF50;
}

@media only screen and (max-width: 768px) {
    .textarea-field {
        font-size: 16px;
        width: 280px;
        height: 150px;
        border: #4CAF50;
    }
}