.check-weather-container {
    background-color: #E8E8E8;
    display: flex;
    flex-direction: column;
}

#input-field {
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
}

#input-field input {
    font-size: 20px;
    padding: 8px;
    width: 250px;
    height: 21px;
}
  
#input-field button {
font-size: 19px;
padding: 8px 20px;
height: 40px;
}

.center-content {
    align-items: center;
    justify-content: center;
}