.check-weather-container {
    background-color: #E8E8E8;
    /* background-image: url('/assets/weather-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; */
    display: flex;
    align-items: center;
    justify-content: center;
}


#input-field {
    padding: 15px;
    margin-left: auto;
    margin-right: 0px;
}