<div>
    <div class="card-container left">
        <div class="card">
            <h1>
                Mi az a digitális játszótér?
            </h1>
            <p>
                Először is, üdvözöllek az oldalamon! A digitális játszótér a saját fejlesztésű weboldalam.
                Én egy kezdő, junior szoftverfejlesztő vagyok. Folyamatosan próbálom fejleszteni magam, 
                és kellett egy hely, ahol az új módszereket és technológiákat kipróbálhatom.
                A digitális játszótér az én kis szigetem, ahol kipróbálhatom magam és a kreativitásom. 
                Az oldal folyamatos fejlesztés alatt áll, így a tartalom is folyamatosan bővül.
                Gyere és nézz körbe. :)
            </p>
        </div>
        <div class="card">
            <img src="/assets/main_playground.jpg" alt="Children play with digital stuffs." class="playground-img" />
        </div>
    </div>
</div>