<div class="landing-container">
    <div class="card-container left">
        <div class="card">
            <h1>
                Mi az a digitális játszótér?
            </h1>
            <p>
                Először is, üdvözöllek az oldalamon! A digitális játszótér a saját fejlesztésű weboldalam.
                Én egy kezdő, junior szoftverfejlesztő vagyok. Folyamatosan próbálom fejleszteni magam, 
                és kellett egy hely, ahol az új módszereket és technológiákat kipróbálhatom.
                A digitális játszótér az online tér ahol gyakorolhatok. 
                Az oldal folyamatos fejlesztés alatt áll, így a tartalom is folyamatosan bővül, amennyire az időm engedi.
                <br>
                Gyere és nézz körbe. :)
            </p>
        </div>
        <div class="card-picture mask-image">
            <img src="/assets/main_playground.jpg" alt="Children play with digital stuffs." class="playground-img" />
        </div>
        <div class="card">
            <a href="#" class="link">
                <svg viewBox='0 0 200 200' width='200' height='200' class="link__svg" aria-labelledby="link1-title link1-desc">
                    <title id="link1-title">A jövő a tiéd, ragadd meg!</title>
                    <desc id="link1-desc">A rotating link with text placed around a circle</desc>
                    <path id="link-circle" class="link__path" d="M 20, 100 a 80,80 0 1,1 160,0 a 80,80 0 1,1 -160,0" stroke="none" fill="none" />
                    <text class="link__text">
                        <textPath href="#link-circle" stroke="none">
                            A jövő a tiéd, ragadd meg!
                        </textPath>
                    </text>
                </svg>
            </a>
        </div>
    </div>
    <div class="card-container right">
        <div class="card">
            <h1>
                Új dizájn
            </h1>
            <p>
                Az oldal egy teljesen új dizájnt kapott és magyar nyelvet. Mivel folyamatosan fejlesztés alatt áll,
                ezért találkozhatsz még angol nyelvű szövegekkel. Az sem biztos, hogy ez a kinézet végleges lesz.
                A korábbi, sötét témát leváltotta egy világosabb, színes megjelenés. Az oldal reszponzív, így bármilyen 
                eszközön tudod használni. Egy kivétel van, a fejlesztés alatt álló Online Shooter. Ezt egyelőre csak 
                pc-n tudod kipróbálni. Van ahol még a régebbi, sötét megjelenéssel találkozol, de ezeket is folyamatosan 
                át fogom alakítani.
                <br>
                Lejjebb megtalálod majd a funkciókat. :)
            </p>
        </div>
        <div class="card-picture mask-image">
            <img src="/assets/main_design.jpg" alt="A happy smartphone with colors." class="playground-img" />
        </div>
    </div>
    <div class="card-container left">
        <div class="card">
            <h1>
                Miért kell regisztrálni?
            </h1>
            <p>
                Ez is egy alap feature, amit minden weboldalon megtalálsz. Ezt is gyakorolnom kellett. :)
                A regisztrációhoz csak egy felhasználónév, email cím és egy jelszó kell. A jelszó tárolása megfelel 
                a biztonsági előírásoknak, kódolt formában tárolom az adatbázisban. Viszont mivel nem katonai titkokat 
                őrzünk itt, ezért nem bonyolítsd túl, nehogy elfelejtsd. :) Jelszó visszaállítás még nem lehetséges.
                <br>
                Felhasználónévre meg egyébként is szükség van az oldal teljes körű használatához, ezért ne rettenj el 
                a 10 másodpercig tartó regisztrációtól. :) 
            </p>
        </div>
        <div class="card-picture mask-image">
            <img src="/assets/main_registration.jpg" alt="A man make an online registration." class="playground-img" />
        </div>
    </div>
    <div class="card-container right">
        <div class="card">
            <h1>
                Fórum
            </h1>
            <p>
                Ez a legújabb és egyik legnagyobb feature az oldalon. Régebb óta szerettem volna már egy fórumot, ahol 
                bármelyik regisztrált tag tud posztot létrehozni, vagy hozzászólni már meglévő posztokhoz. Igazából ez is 
                csak egy teszt számomra, hogy hogyan tudom optimalizálni az adatbázist. Viszont ha bármi meglátásod van az 
                oldallal kapcsolatban, írd le nyugodtan! :)
                <br>
                A dizájn még közel sem végleges.
                <br>
                Tegyél egy próbát, és kattints a gombra.
            </p>
            <button class="button forum" routerLink="/forum">Fórum</button>
        </div>
        <div class="card-picture mask-image">
            <img src="/assets/main_forum.jpg" alt="Men have a conversation in a room." class="playground-img" />
        </div>
    </div>
    <div class="card-container left">
        <div class="card">
            <h1>
                Látogatások száma
            </h1>
            <p>
                A lenti szám jelzi, hogy hányszor látogattátok már meg az oldalt.
                Ez új funkció, így nem a kezdetektől számol, csak az új kinézet megjelenése óta.
                Köszönöm, hogy Te is hozzájárulsz ennek az értéknek a növekedéséhez. <br>
                A százezredik látogatáskor ünnepelünk! :) 
            </p>
            <br>
            <div class="visit-number">
                {{ visitData.allVisits }}
            </div>
        </div>
        <div class="card-picture mask-image">
            <img src="/assets/main_ufo.jpg" alt="A man make an online registration." class="playground-img" />
        </div>
    </div>
    <div class="card-container left">
        <div class="feature-card purple">
            <h1>
                Beszélgess az MI-vel
            </h1>
            <p>
                Itt a lehetőség, hogy beszélgess egy MI-vel, akár hang alapon is. Az MI egy GPT-3 nevű modell, ami 
                a hétköznapokban nagy segítségedre lehet. A modell a legújabb technológiákat használja. Nyomd meg a 
                "Start Recording" gombot, beszélj (akár) magyarul, majd nyomd meg a "Stop" gombot, és várj 
                a hang alapú válaszra. :) Vagy ha úgy kényelmesebb, le is írhatod neki a kérdéseidet.
                <br>
                <br>
                <button class="button" routerLink="/chat-with-gpt">Kipróbálom</button>
            </p>
        </div>
        <div class="feature-card pink">
            <h1>
                Olvass híreket
            </h1>
            <p>
                Itt körül tudsz nézni, hogy mi újság a nagyvilágban. A hírek a NewsAPI-t használják, így a legfrissebb 
                cikkeket olvashatod nap mint nap. A következő oldalon a hírek címeit fogod látni. 
                Minden hírnél ott lesz a "read more" gomb, arra kattintva egy új oldalra fogsz kerülni, az adott 
                hírportálra, ahol a teljes cikket el tudod olvasni. 
                <br>
                Ne felejts majd el visszajönni erre a szuper oldalra. :)
                <br>
                <br>
                <button class="button" routerLink="/read-news">Kipróbálom</button>
            </p>
        </div>
        <div class="feature-card green">
            <h1>
                Játssz számrendezőt
            </h1>
            <p>
                Ez egy egyszerű játék, a játék lényege, hogy a számokat sorba kell rendezni.
                Rögtön toplistát fogod látni, ahol a legjobb időket láthatod. A "Start the game" gombra kattintva 
                elindul a játék, egy stopperrel a háttérben. 22 random szám van egy oszlopban, ezeket kell növekvő 
                sorrendbe tenni. Ha jó a sorrend, akkor automatikusan megáll a játék és 
                kiírja az elért időt.
                <br>
                <br>
                <br>
                <button class="button" routerLink="/number-sorting">Kipróbálom</button>
            </p>
        </div>
        <div class="feature-card yellow">
            <h1>
                Csekkold az időjárást
            </h1>
            <p>
                Ez is egy gyorsan összedobott kis feature. A jelenlegi időjárásról tudsz információkat kapni.
                A mezőbe írd be a település nevét, majd a "send" gombra kattintva láthatod a jelenlegi időjárást.
                Egyelőre csak a hőmérsékletet, és a szélsebességet tudod megtekinteni. Előrejelezni még nem tud, 
                de lehet a kövőben még foglalkozom ezzel, és akkor majd bővül a funkció. :)
                <br>
                <br>
                <br>
                <button class="button" routerLink="/check-weather">Kipróbálom</button>
            </p>
        </div>
    </div>
    <div class="card-container right">
        <div class="card">
            <h1>
                Kikapcsolódásra vágysz?
            </h1>
            <p>
                Nem csak a digitális térben akarsz pihenni, hanem való életben is el szeretnél menni egy szuper helyere?
                Akkor had ajánljak egy kiváló helyet. Itt minden maximálisan felszerelt! <br>
                Medence, pezsgőfürdő, szauna, és még sok más segít a kikapcsolódásban.
                A környék is csodálatos! Egyetlen egy dologban marad alul a többi helyhez képest, ez pedig az ár! <br>
                Már csak egy kattintásra vagy. :)
                <br>
                <br>
                <a href="https://www.tenkeswellness.hu/" class="custom-link" target="_blank">Tenkes Wellness</a>
            </p>
        </div>
        <div class="card-picture mask-image">
            <img src="/assets/main_welness.jpg" alt="A welness house with a pool." class="playground-img" />
        </div>
    </div>
    <div class="card-container left">
        <div class="card">
            <h1>
                Ínycsiklandó sütemények
            </h1>
            <p>
                Talán egy dolog van, ami színesebb, mint a digitális játszótér, ez pedig a torta. :)
                Ha ennél nagyon finom édességet, tortát vagy süteményt, akkor próbáld ki a Csupa Csoki cukrászdát.
                Itt nem csak Ínycsiklandóak a finomságok, de jól is néznek ki. 
                Szerinted, ahol doktornők készítik az édességet, az lehet rossz? <br> Hát persze, hogy nem! :) <br>
                Ha gondolod, nézz körbe az alábbi linken.
                <br>
                <br>
                <a href="https://www.csupacsokitorta.hu/" class="custom-link" target="_blank">Csupa Csoki</a>
            </p>
        </div>
        <div class="card-picture mask-image">
            <img src="/assets/main_cake.jpg" alt="A tasty cake." class="playground-img" />
        </div>
    </div>
    <div class="card-container left">
        <div class="ending-card">
            Egyelőre ennyi. Nézz vissza később, hátha bővül az oldal. :)
            <hr>
        </div>
    </div>
</div>