<div class="card-container left">
    <div class="card">
        <h1>
            Mi az a digitális játszótér?
        </h1>
        <p>
            Először is, üdvözöllek az oldalamon! A digitális játszótér a saját fejlesztésű weboldalam.
            Én egy kezdő, junior szoftverfejlesztő vagyok. Folyamatosan próbálom fejleszteni magam, 
            és kellett egy hely, ahol az új módszereket és technológiákat kipróbálhatom.
            A digitális játszótér az én kis szigetem, ahol kipróbálhatom magam és a kreativitásom. 
            Az oldal folyamatos fejlesztés alatt áll, így a tartalom is folyamatosan bővül.
            Gyere és nézz körbe. :)
        </p>
    </div>
    <div class="card-picture">
        <img src="/assets/main_playground.jpg" alt="Children play with digital stuffs." class="playground-img" />
    </div>
</div>
<div class="card-container right">
    <div class="card">
        <h1>
            Új dizájn
        </h1>
        <p>
            Az oldal egy teljesen új dizájnt kapott és magyar nyelvet. Mivel folyamatosan fejlesztés alatt áll,
            ezért találkozhatsz még angol nyelvű szövegekkel. Az sem biztos, hogy ez a kinézet végleges lesz.
            A korábbi, sötét témát leváltotta egy világosabb, színes megjelenés. Az oldal reszponzív, így bármilyen 
            eszközön tudod használni. Egy kivétel van, a fejlesztés alatt álló Online Shooter. Ezt egyelőre csak 
            pc-n tudod kipróbálni. Van ahol még a régebbi, sötét megjelenéssel találkozol, de ezeket is folyamatosan 
            át fogom alakítani.
            <br>
            Lejjebb megtalálod majd a funkciókat. :)
        </p>
    </div>
    <div class="card-picture">
        <img src="/assets/main_design.jpg" alt="A happy smartphone with colors." class="playground-img" />
    </div>
</div>
<div class="card-container left">
    <div class="card">
        <h1>
            Miért kell regisztrálni?
        </h1>
        <p>
            Ez is egy alap feature, amit minden weboldalon megtalálsz. Ezt is gyakorolnom kellett. :)
            A regisztrációhoz csak egy felhasználónév, email cím és egy jelszó kell. A jelszó tárolása megfelel 
            a biztonsági előírásoknak, kódolt formában tárolom az adatbázisban. Viszont mivel nem katonai titkokat 
            őrzünk itt, ezért nem bonyolítsd túl, nehogy elfelejtsd. :) Jelszó visszaállítás még nem lehetséges.
            <br>
            Felhasználónévre meg egyébként is szükség van az oldal teljes körű használatához, ezért ne rettenj el 
            a 10 másodpercig tartó regisztrációtól. :) 
        </p>
    </div>
    <div class="card-picture">
        <img src="/assets/main_registration.jpg" alt="A man make an online registration." class="playground-img" />
    </div>
</div>
<div class="card-container right">
    <div class="card">
        <h1>
            Fórum
        </h1>
        <p>
            Ez a legújabb és egyik legnagyobb feature az oldalon. Régebb óta szerettem volna egy fórumot, ahol 
            bárki tud posztot létrehozni, és hozzászólni már meglévő témákhoz. Így visszajelzést kaphatok akár 
            az oldalról, akár a játékokról, vagy igazából bármi másról. :) A fórumon keresztül tudsz majd nekem 
            üzenni, de akár egymással is tudtok kommunikálni.
            <br>
            A dizájn még közel sem végleges.
            <br>
            Tegyetek egy próbát, és kattintsatok a "Fórum" gombra. :)
        </p>
        <button class="button" routerLink="/forum">Fórum</button>
    </div>
    <div class="card-picture">
        <img src="/assets/main_forum.jpg" alt="Men have a conversation in a room." class="playground-img" />
    </div>
</div>
<div class="card-container left">
    <div class="card">
        <h1>
            Látogatások száma
        </h1>
        <p>
            A lenti szám jelzi, hogy hányszor látogattátok már meg az oldalt.
            Ez új funkció, így nem a kezdetektől számol, csak az új kinézet megjelenése óta.
            Köszönöm, hogy Te is hozzájárulsz ennek az értéknek a növekedéséhez. <br>
            A százezredik látogatáskor ünnepelünk! :) 
        </p>
        <br>
        <div class="visit-number">
            {{ visitData.allVisits }}
        </div>
    </div>
    <div class="card-picture">
        <img src="/assets/main_ufo.jpg" alt="A man make an online registration." class="playground-img" />
    </div>
</div>
<div class="card-container left">
    <div class="feature-card purple">
        <h1>
            Beszélgess az MI-vel
        </h1>
        <p>
            Itt a lehetőség, hogy beszélgess egy MI-vel, akár hang alapon is. Az MI egy GPT-3 nevű modell, ami 
            a hétköznapokban nagy segítségedre lehet. A modell a legújabb technológiákat használja. Nyomd meg a 
            "Start Recording" gombot, beszélj (akár) magyarul, majd nyomd meg a "Stop" gombot, és várj 
            a hang alapú válaszra. :) Vagy ha úgy kényelmesebb, le is írhatod neki a kérdéseidet.
            <br>
            <br>
            <button class="button" routerLink="/chat-with-gpt">Kipróbálom</button>
        </p>
    </div>
    <div class="feature-card pink">
        <h1>
            Olvass híreket
        </h1>
        <p>
            Itt körül tudsz nézni, hogy mi újság a nagyvilágban. A hírek a NewsAPI-t használják, így a legfrissebb 
            cikkeket olvashatod nap mint nap. A következő oldalon a hírek címeit fogod látni. 
            Minden hírnél ott lesz a "read more" gomb, arra kattintva egy új oldalra fogsz kerülni, az adott 
            hírportálra, ahol a teljes cikket el tudod olvasni. 
            <br>
            Ne felejts majd el visszajönni erre a szuper oldalra. :)
            <br>
            <br>
            <br>
            <button class="button" routerLink="/read-news">Kipróbálom</button>
        </p>
    </div>
    <div class="feature-card green">
        <h1>
            Játssz számrendezőt
        </h1>
        <p>
            Ez egy saját fejlesztésű, egyszerű játék. A játék lényege, hogy a számokat sorba kell rendezni.
            Rögtön toplistát fogod látni, ahol a legjobb időket láthatod. A "Start the game" gombra kattintva 
            elindul a játék, egy stopperrel a háttérben. 22 random szám van egy oszlopban, ezeket kell növekvő 
            sorrendbe tenni, a legkisebbtől a legnagyobbig. Ha végeztél, akkor automatikusan megáll a játék és 
            kiírja az elért időt. Ha elég gyors voltál, felkerülsz a toplistára. :)
            <br>
            <button class="button" routerLink="/number-sorting">Kipróbálom</button>
        </p>
    </div>
    <div class="feature-card yellow">
        <h1>
            Csekkold az időjárást
        </h1>
        <p>
            Ez is egy gyorsan összedobott kis feature. A jelenlegi időjárásról tudsz információkat kapni.
            A mezőbe írd be a település nevét, majd a "send" gombra kattintva láthatod a jelenlegi időjárást.
            Egyelőre csak a hőmérsékletet, és a szélsebességet tudod megtekinteni. Előrejelezni még nem tud, 
            de lehet a kövőben még foglalkozom ezzel, és akkor majd bővül a funkció. :)
            <br>
            <br>
            <br>
            <button class="button" routerLink="/check-weather">Kipróbálom</button>
        </p>
    </div>
</div>
<div class="card-container right">
    <div class="card">
        <h1>
            Kikapcsolódásra vágysz?
        </h1>
        <p>
            Nem csak a digitális térben akarsz pihenni, hanem valóben el szeretnél menni egy szuper helyere?
            Akkor had ajánljak egy kiváló helyet. Ez a hely maximálisan felszerelt, 2 apartmanház, medence, pezsgőfürdő, szauna, és még sok más. 
            A környék is csodálatos! Egyetlen egy dologban marad alul a többi helyhez képest, ez pedig az ár. :)
            Kattints az alábbi linkre.
            <br>
            <br>
            <a href="https://www.tenkeswellness.hu/" class="custom-link" target="_blank">Tenkes Wellness</a>
        </p>
    </div>
    <div class="card-picture">
        <img src="/assets/main_welness.jpg" alt="A welness house with a pool." class="playground-img" />
    </div>
</div>
<div class="card-container left">
    <div class="card">
        <h1>
            Ínycsiklandó sütemények
        </h1>
        <p>
            Talán egy dolog van, ami színesebb, mint a digitális játszótér, ez pedig A torta. :)
            Ha ennél valami igazán, de úgy tényleg igazán finom tortát, vagy süteményt...
            Akkor tégy egy próbát, nem fogod megbánni. A torták és sütemények nem csak finomak, de jól is néznek ki!
            Kíváncsi vagy, hogy hol készítik a nagybetűs tortát? Akkor kattints az alábbi linkre, és nézz körbe.
            <br>
            <br>
            <a href="https://www.csupacsokitorta.hu/" class="custom-link" target="_blank">Csupa Csoki</a>
        </p>
    </div>
    <div class="card-picture">
        <img src="/assets/main_cake.jpg" alt="A tasty cake." class="playground-img" />
    </div>
</div>
<div #lastCard class="card-container left">
    <div class="ending-card">
            Egyelőre ennyi. Nézz vissza később, hátha bővül az oldal. :)
            Ha kíváncsi vagy, hogy milyen volt a régi dizájn, akkor kattints a "Megnézem" gombra.<br>
            Bár a háttér már ott is látható. :) A fejlécen lévő "DIGITAL PLAYGROUND" szövegre kattintva 
            pedig bármikor visszatérhetsz a főoldalra.
            <hr>
            <button class="button" routerLink="/old-home">Megnézem</button>
    </div>
</div>