.card-container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
    /*background: #52524f09;*/
}

@media screen and (max-width: 768px) {
    .card-container {
        padding-top: 50px;
    }
}

.card-container.left {
    padding-left: 10%;
    flex: 1;
}

@media screen and (max-width: 1500px) {
    .card-container.left {
        padding-left: 5%;
    }
}

@media screen and (max-width: 768px) {
    .card-container.left {
        padding-left: 0px;
    }
}

.card-container.right {
    padding-left: 35%;
    flex: 1;
}

@media screen and (max-width: 1500px) {
    .card-container.right {
        padding-left: 25%;
    }
}

@media screen and (max-width: 768px) {
    .card-container.right {
        padding-left: 0px;
    }
}

.card-picture {
    margin: 40px;
    padding: 20px;
}

.mask-image {
    mask-image: url("/assets/mask.png");
    -webkit-mask-image: url("/assets/mask.png");
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-size: 100% 100%;
    -webkit-mask-size: 100% 100%;
    mask-position: center;
    -webkit-mask-position: center;
}

@media screen and (max-width: 768px) {
    .card-picture {
        padding: 0px 0px 0px 10px;
    }
}

.card {
    flex: 1;
    margin: 40px;
    border-radius: 5px;
    padding: 20px;
    height: auto;
    max-width: 300px;
}

@media screen and (max-width: 768px) {
    .card {
        max-width: 300px;
        margin: 0px 0px 0px 20px; 
        padding: 10px 0px 0px 30px;
    }
}

.card h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 46px;
    font-weight: 700;
    color: #4f2170;
    line-height: 105%;
    margin-bottom: 25px;
}

@media screen and (max-width: 768px) {
    .card h1 {
        font-size: 36px;
        font-weight: 500;
    }
}

.card p {
    position: relative;
    font-weight: 300;
    font-size: 100%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 130%;
    padding-left: 20px;
    margin-bottom: 30px;
    color: #6b2d97;
    border-left: 4px solid #4f2170;
}

@media screen and (max-width: 768px) {
    .card p {
        padding-left: 5px;
    }
}

.playground-img{
    width: 400px;
    height: 400px;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    .playground-img {
        width: 300px;
        height: 300px;
    }
}

.button {
    font-family: "Source Sans Pro", Sans-serif;
    font-size: 1em;
    font-weight: 600;
    color: #ffffff;
    background-color: #4cb3f5;
    border-radius: 30px 30px 30px 30px;
    border: none;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
    padding: 10px 10px 10px 10px;
    margin-left: 8px;
    cursor: pointer;  
  }
  
.button:hover {
    background: #ffb040;
    color: white;
}

.feature-card {
    flex: 1;
    margin: 20px;
    border-radius: 10px;
    padding: 20px;
    height: auto;
    max-width: 250px;
}

@media screen and (max-width: 768px) {
    .feature-card {
        min-width: 300px;
        margin-left: 45px; 
        padding: 10px;
    }
}

.feature-card.purple {
    background: #4f2170a5;
    color: #fff;
}

.feature-card.pink {
    background: #cd355bae;
    color: #fff;
}

.feature-card.green {
    background: #5d872aa5;
    color: #fff;
}

.feature-card.yellow {
    background: #85762aa5;
    color: #fff;
}

.ending-card {
    position: relative;
    font-weight: 300;
    font-size: 110%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 130%;
    padding-left: 20px;
    margin: 80px;
    color: #6b2d97;
    border-left: 4px solid #6b2d97;
}

.custom-link {
    text-decoration: none;
    color: #4cb3f5;
    font-weight: 600;
    font-size: 110%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s ease;
}

.custom-link:hover {
    border-bottom: 2px solid #4cb3f5;
}

.visit-number {
    font-size: 200%;
    font-weight: 600;
    color: #4cb3f5;
    margin-bottom: 20px;
}

.hidden {
    opacity: 0;
    transform: translateX(-110px);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}
  
.visible {
    opacity: 1;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}
