<div class="forum-page-container">
    <button class="button" routerLink="/add-post">Új poszt létrehozása</button>
    <br>
    <p>Kattints valamelyik posztra a részletekért</p>
    <div class="card-container">
        <div class="card" *ngFor="let post of allPosts" (click)="goToPost(post.id)">
            <div class="title">{{post.title}}</div>
            <div class="content">{{post.content}}</div>
            <div class="author">{{post.author}}</div>
            <div class="date">{{post.createdAt | date:'YYYY-MM-dd HH:mm' }}</div>
            <br>
            <div *ngIf="post.comments?.length; else noComments">
              <h3>{{post.comments?.length}} hozzászólás</h3>
              </div>
              <ng-template #noComments>
                <h3>Nincsenek hozzászólások</h3>
              </ng-template>
        </div>
    </div>
</div>
