<div class="chat-with-gpt">
    <h1 id="welcomeString">Speak with the ChatGPT</h1>
        <button class="button startListenButton" [ngClass]="{'recording': isRecording}" (click)="startRecording()" >Start</button>
        <button class="button stopListenButton" (click)="stopRecording()" >Stop</button>
    <div id="chat-messages" #messagesContainer>
        <p *ngFor="let message of conversationContent">
            <span [ngClass]="{'chat-me': message.role === 'user', 'chat-bot': message.role === 'assistant'}">
                {{message.role}}:</span> {{message.content}}
            <br>
        </p>
    </div>
</div>
