.chat-with-gpt {
    background-color: #6b7280;
    border: 1px solid #6b7280;
}

#welcomeString {
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    margin-top: 25px;
    margin-bottom: 05px;
    text-align: center;
}

#chat-messages {
    margin-top: 30px;
    height: 420px;
    width: 60%;
    overflow-y: scroll;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #9ca3af;
    line-height: 1.2em;
    font-size: 20px;
}

    #chat-messages p {
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 10px;
        background-color: #4b5563;
        color: white;
        margin: 5px 0;
    }


#chat-input {
    width: 40%;
    height: 50px;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
}

#chat-send-button {
    width: 10%;
    height: 40px;
    margin-bottom: 10px;
    background-color: #2196F3;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

.chat-me {
    font-weight: bold;
    color: lightblue;
}

.chat-bot {
    font-weight: bold;
    color: lightsalmon;
}


.button {
    border-radius: 30px;
    /*background-color: #4CAF50;*/
    color: white;
    padding: 13px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 10px 10px;
    transition-duration: 0.4s;
    cursor: pointer;
}


.startListenButton {
    background-color: #4CAF50;
    color: white;
    border: 2px solid #e2f6e3;
}

.startListenButton:hover {
    background-color: #237f23;  /* rgb(233, 255, 225)*/
    border: 2px solid #020202;
}

.stopListenButton {
    background-color: #d74723;
    color: white;
    border: 2px solid #e2f6e3;
}

.stopListenButton:hover {
    background-color: #a4391e;  /*rgb(255, 226, 226)*/
    border: 2px solid #020202;
}

.recording {
    background-color: #bc942d;
}

.input-field {
    background-color: #475469;
    color: white;
    padding: 8px;
    /*margin: 15px;*/
    font-size: 22px;
    width: 500px;
    height: 26px;
    border: #4CAF50;
}

.send-button {
    border: 2px solid #4CAF50;
    background-color: #475469;
    padding: 5px 15px;
    color: #4CAF50;
    font-size: 25px;
    margin-top: 40px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-bottom: 50px;
}

.send-button:hover {
    background-color: #4CAF50;
    color: white;
}