<div class="chat-with-gpt">
    <h1 id="welcomeString">Speak with the ChatGPT</h1>
        <button class="button startListenButton" [ngClass]="{'recording': isRecording}" (click)="startRecording()">
            {{isRecording ? 'Recording...' : 'Start record'}}</button>
        <button class="button stopListenButton" (click)="stopRecording()" >Stop</button>
    <div id="chat-messages" #messagesContainer>
        <p *ngFor="let message of conversationContent">
            <span *ngIf="message.role === 'user'" [ngClass]="'chat-me'">{{username}}:</span>
            <span *ngIf="message.role === 'assistant'" [ngClass]="'chat-bot'">Bot:</span>
            {{message.content}}
            <br>
        </p>
    </div>
    <div id="input-field">
        <input ngClass="input-field" type="text" [(ngModel)]="inputText" placeholder="Start record or type your message here..." (keyup.enter)="sendTextMessage()">
        <button ngClass="send-button" (click)="sendTextMessage()">Send</button>
    </div>
</div>
