#chat-messages {
    margin-top: 30px;
    height: 420px;
    width: 60%;
    overflow-y: scroll;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #F0F0F0;
    line-height: 1.2em;
    font-size: 20px;
}

    #chat-messages p {
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 10px;
        background-color: #E8E8E8;
        margin: 5px 0;
    }


#chat-input {
    width: 40%;
    height: 50px;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
}

#chat-send-button {
    width: 10%;
    height: 40px;
    margin-bottom: 10px;
    background-color: #2196F3;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

.chat-me {
    font-weight: bold;
    color: darkcyan;
}

.chat-bot {
    font-weight: bold;
    color: darksalmon;
}


.button {
    border-radius: 30px;
    background-color: #4CAF50;
    color: white;
    padding: 13px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 10px 10px;
    transition-duration: 0.4s;
    cursor: pointer;
}


.startListenButton {
    background-color: rgb(233, 255, 225);
    color: black;
    border: 2px solid #4CAF50;
}

.startListenButton:hover {
    background-color: #4CAF50;
    color: white;
}

.stopListenButton {
    background-color: rgb(255, 226, 226);
    color: black;
    border: 2px solid #cf462a;
}

.stopListenButton:hover {
    background-color: #d74723;
    color: white;
}

.recording {
    background-color: #4CAF50;
}