<div class="titleText">News from Hungary</div>
<div class="news-container">
    <div @myInsertRemoveTrigger *ngIf="isShown"  class="news-card">
        The news service is currently unavailable.
        <br>
        I had too many requests to the news API, so I'm banned for a while.
        <br>
        <a [href]="" target="_blank">Check this</a>
    </div>
</div>


<!--<div class="titleText">News from Hungary</div>
<div class="news-container">
    <div @myInsertRemoveTrigger *ngIf="isShown"  class="news-card">"{{displayedNews.title}}"
        <br>
        <a [href]="displayedNews.url" target="_blank">Check this</a>
    </div>
</div>-->
