<div class="home-page-container">
    <div>
        <h1>Welcome to my digital playground!</h1>
        <h2>Come and check the features!</h2>
        <h4>(This site is optimized for Pc, you can experience display issues on mobile)</h4>
        <div class="random-news-card">"{{randomNews.title}}"
            <br>
            <a [href]="randomNews.url" target="_blank">Interesting, isn't it? Check this news!</a>
        </div>
        <p></p>
        <h2>What would you like to do?</h2>
        
        <div>
            <button class="button amobaButton" routerLink="/online-shooter">Play Online shooter</button>
            <button class="button amobaButton" routerLink="/number-sorting">Play Number Sorting</button>
            <button class="button newsButton" routerLink="/read-news">Read news</button>
            <button class="button botButton" routerLink="/chat-with-gpt">Speak with the AI</button>
            <button class="button weatherButton" routerLink="/check-weather">Check the Weather</button>
        </div>
    </div>
</div>

<tisp-home-page-messages>
</tisp-home-page-messages>