.home-page-container {
    /*background-color: #6b7280;*/  /*#E8E8E8;*/  
    background: linear-gradient(85deg,#434343,#262626);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.random-news-container {
    position: absolute;
    left: 10px;  /* vagy bármilyen egyéb távolság a képernyő bal szélétől */
    top: 28%;
    transform: translateY(-50%); /* A vertikális középre igazításhoz */
}

.message-card {
    background: linear-gradient(85deg,#222222,#343434);
    border: 2px solid #36515b;
    font-size: 18px;
    margin: 15px;
    padding: 5px;
    border-radius: 2px;
    color: white;
}

h1 {
    font-size: 60px;
    font-weight: bold;
    margin: 0;
    padding: 35px 0px;
}


h2 {
    font-size: 28px;
    font-weight: bold;
    margin: 0;
    padding: 20px 0px;

}

h4 {
    font-size: 20px;
    margin: 0;
    padding: 0;
}

h5 {
    font-size: 18px;
    margin-bottom: 1px;
    margin-top: 5px;
    color: #008CBA;
    font-weight: 100;
}

.button {
    /*background-color: #4CAF50;*/
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 30px 10px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.amobaButton {
    background: linear-gradient(85deg,#222222,#343434);
    color: #4CAF50;
    border: 2px solid #4CAF50;
}

.amobaButton:hover {
    background: linear-gradient(85deg,#4CAF50,#343434);    
    /*background: #4CAF50;*/
    color: white;
}

.newsButton {
    background: linear-gradient(85deg,#222222,#343434);
    color: #008CBA;
    border: 2px solid #008CBA;
}

.newsButton:hover {
    background: linear-gradient(85deg,#008CBA,#343434);
    /*background: #008CBA;*/
    color: white;
}

.botButton {
    background: linear-gradient(85deg,#222222,#343434);
    color: #f78da7;
    border: 2px solid #f78da7;
}

.botButton:hover {
    background: linear-gradient(85deg,#f78da7,#343434);
    /*background: #f78da7;*/
    color: white;
}

.weatherButton {
    background: linear-gradient(85deg,#222222,#343434);
    color: darkgoldenrod;
    border: 2px solid darkgoldenrod;
}

.weatherButton:hover {
    background: linear-gradient(85deg,darkgoldenrod,#343434);
    /*background: darkgoldenrod;*/
    color: white;
}

.button5 {
    background: linear-gradient(85deg,#222222,#343434);
    color: black;
    border: 2px solid #555555;
}

.button5:hover {
    background: #555555;
    color: white;
}