.background {
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: url('/assets/background_app.jpg');
}

.no-background {
    background: linear-gradient(to left, #58446e,#a06c7c);
}

.home-page-header-container {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.home-page-container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.random-news-card {
    background: linear-gradient(85deg,#222222,#343434);
    border: 2px solid #36515b;
    font-size: 18px;
    margin: 15px;
    padding: 5px;
    border-radius: 2px;
    color: white;
}
    .random-news-card a {
        color: #fcb900;  /*#008CBA #fcb900 */
        text-decoration: none;
    }

p {
    font-size: 22px;
    line-height: 1.3;
    font-weight: 300;
    display: block;
    margin-block-start: 1.3em;
    margin-block-end: 2em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

@media only screen and (max-width: 768px) {
    p {
        margin-block-start: 0em;
        margin-block-end: 0em;
        font-size: 18px;
    }
}

h1 {
    font-size: 60px;
    font-weight: 600;
    background-image: linear-gradient(85deg, #b8a2cf, #765eb8);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    padding: 30px 0px;
}

.welcomeString {
    font-size: 60px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 1;
    background-image: linear-gradient(85deg, #fdfcea, #fbf699 );
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    padding: 80px 0px 80px 0px;
}

@media only screen and (max-width: 768px) {
    .welcomeString {
        font-size: 35px;
        line-height: 1;
        padding: 30px 0px;
    }
}

h2 {
    font-size: 30px;
    margin: 0;
    padding: 20px 0px;
    font-weight: 400;
    background-image: linear-gradient(to left, #65d5a1, #493b71);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

@media only screen and (max-width: 768px) {
    h2 {
        font-size: 22px;
        margin: 0;
        padding: 0px 0px;
        padding-bottom: 10px;
    }
}

h4 {
    font-size: 20px;
    margin: 0;
    padding: 0;
}

h5 {
    font-size: 18px;
    margin-bottom: 1px;
    margin-top: 5px;
    color: #008CBA;
    font-weight: 100;
}

hr {
    background: linear-gradient(85deg,#434343,#262626);
    border: solid #4f5462;
    border-width: 2px 0 0;
    clear: both;
    margin: 15px 200px 15px;
    height: 0;
}

@media only screen and (max-width: 768px) {
    hr {
        margin: 10px 30px 10px;
    }
}

.button {
    backdrop-filter: blur(5px);
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 30px 10px;
    transition-duration: 0.4s;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .button {
        padding: 5px 10px;
        font-size: 16px;
        margin: 10px 5px;
    }
}

.numberSortingButton {
    background: linear-gradient(85deg,#222222,#343434);
    color: #cfbfdf;
    border: 2px solid #cfbfdf;
}

.numberSortingButton:hover {
    background: linear-gradient(85deg,#cfbfdf,#343434);    
    /*background: #4CAF50;*/
    color: white;
}


.amobaButton {
    background: linear-gradient(85deg,#222222,#343434);
    color: #7acb55;
    border: 2px solid #7acb55;
}

.amobaButton:hover {
    background: linear-gradient(85deg,#7acb55,#343434);    
    /*background: #4CAF50;*/
    color: white;
}

.newsButton {
    background: linear-gradient(85deg,#222222,#343434);
    color: #2eb4e0;
    border: 2px solid #2eb4e0;
}

.newsButton:hover {
    background: linear-gradient(85deg,#2eb4e0,#343434);
    /*background: #008CBA;*/
    color: white;
}

.botButton {
    background: linear-gradient(85deg,#222222,#343434);
    color: #f78da7;
    border: 2px solid #f78da7;
}

.botButton:hover {
    background: linear-gradient(85deg,#f78da7,#343434);
    /*background: #f78da7;*/
    color: white;
}

.weatherButton {
    background: linear-gradient(85deg,#222222,#343434);
    color: rgb(219, 174, 59);
    border: 2px solid rgb(219, 174, 59);
}

.weatherButton:hover {
    background: linear-gradient(85deg,rgb(219, 174, 59),#343434);
    /*background: darkgoldenrod;*/
    color: white;
}

.button5 {
    background: linear-gradient(85deg,#222222,#343434);
    color: black;
    border: 2px solid #555555;
}

.button5:hover {
    background: #555555;
    color: white;
}


.yelloParagraph {
    /*width: 70%;*/
    padding: calc(2vw + 10px);
    justify-content: center;
    filter: drop-shadow(0 2px 2px #000);
    border-left: 4px solid #F4ED6E;
    background: linear-gradient(to right, #244369, #964937);
    backdrop-filter: blur(5px);
    font-family: "Radiance","Noto Sans",sans-serif;
    margin: 20px 100px;
}

@media only screen and (max-width: 768px) {
    .yelloParagraph {
        margin: 10px 20px;
    }
}

.yelloParagraphText {
    color: #e9e9e9;
    line-height: 1.1;
    font-size: 20px;
    font-weight: 400;
}

@media only screen and (max-width: 768px) {
    .yelloParagraphText {
        font-size: 16px;
        line-height: 1;
        font-weight: 400;
    }
}

.horizonDivider {
    margin: 100px 30px;
    height: 2px;
    background: linear-gradient(to right, rgba(146, 30, 94, 0), #FFFEE6, #F4ED6E, #FFFEE6, rgba(146, 30, 94, 0));
}

@media only screen and (max-width: 768px) {
    .horizonDivider {
        margin: 50px 30px;
    }
}

.titleText {
    background-image: linear-gradient(85deg, #fdfcea, #fbf699 );
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    padding: 0 0 30px 0;
    font-size: 36px;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 40px;
    font-weight: 500;
}

@media only screen and (max-width: 768px) {
    .titleText {
        font-size: 22px;
    }
}

@keyframes movePoints {
    0% {
        transform: translateY(0) scale(0.5);
        opacity: 0;
    }
    25% {
        transform: translateY(-15px) scale(0.7);
        opacity: 0.5;
    }
    50% {
        transform: translateY(-30px) scale(0.9);
        opacity: 0.7;
    }
    75% {
        transform: translateY(-45px) scale(0.7);
        opacity: 0.5;
    }
    100% {
        transform: translateY(-60px) scale(0.5);
        opacity: 0;
    }
}


.point {
    position: absolute;
    border: 2px solid #FFFEE6;
    border-radius: 20px;
    transform-origin: center bottom;
    animation: movePoints 8s linear infinite;
}

@media only screen and (max-width: 768px) {
    .point {
        border: 2px solid #FFFEE6;
    }
}