<div class="home-page-container">
    <div class="text-center">
        <h1>Welcome to Free Time Spender</h1>
        <p>Spend your free time if you are bored at home (or at your workplace)!</p>
        <p></p>
        <h2>What would you like to do?</h2>
        <div>
            <button class="button amobaButton" id="Amoba">Play Five in a Row</button>
            <button class="button newsButton" id="News" routerLink="/read-news">Read news</button>
            <button class="button botButton" id="Bot">Chat with the AI</button>
            <button class="button weatherButton" id="Weather">Check the Weather</button>
        </div>
    </div>
</div>