h1 {
    background-image: linear-gradient(to left, #fac04c, #1a5243);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    padding: 0 0 50px 0;
    /*margin: 0 0 20px 0;*/
    font-size: 36px;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 40px;
    font-weight: 500;
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 22px;
        padding: 0 0 20px 0;
    }
}

.input-field {
    background: linear-gradient(85deg,#222222,#343434);
    color: white;
    padding: 8px;
    margin-top: 60px;
    font-size: 22px;
    width: 300px;
    height: 23px;
    border: #4CAF50;
}

@media only screen and (max-width: 768px) {
    .input-field {
        width: 200px;
        height: 16px;
        padding: 6px;
        margin-top: 40px;
        font-size: 15px;
    }

}

.send-button {
    border: 2px solid #4CAF50;
    background: linear-gradient(85deg,#222222,#343434);
    padding: 3px 13px;
    color: #4CAF50;
    font-size: 20px;
    margin-top: 40px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-bottom: 50px;
}

@media only screen and (max-width: 768px) {
    .send-button {
        padding: 3px 13px;
        font-size: 16px;
        margin-top: 20px;
        cursor: pointer;
        margin-bottom: 50px;
    }
    
}

.send-button:hover {
    background: linear-gradient(85deg,#4CAF50,#343434);
    /*background-color: #4CAF50;*/
    color: white;
}


.message-container {
    /*background: linear-gradient(85deg,#434343,#262626);*/
    display: flex;
    flex-wrap: wrap;
}

.message-card {
    background: linear-gradient(85deg,#22211f, #1a5243);
    color: #cdcdcd;
    border: 2px solid #422430;
    border-radius: 10px;
    box-shadow: 0px 2px 20px #1a5243;
    margin: 25px;
    max-width: 350px;
    padding: 10px;
    text-align: center;
}

.message-card .content {
    font-size: 18px;
    font-weight: 440;
}

.message-card .author {
    font-size: 14px;
    color: #ccc;
}

.message-card .date {
    font-size: 12px;
    color: #aaa;
}

.message-card:hover {
    cursor: pointer;
    background: linear-gradient(85deg,#1a5243,#22211f);
    border: 2px solid #d6296e;
    color: #fff;
    box-shadow: 0px 2px 30px #1a5243;
}

@media only screen and (max-width: 768px) {
    .message-card {
        margin: 16px;
        max-width: 150px;
        padding: 4px;
        text-align: center;
    }
    
    .message-card .content {
        font-size: 12px;
        line-height: 1.2;
        font-weight: 250;
    }
    
    .message-card .author {
        font-size: 10px;
        font-weight: 350;
        color: #ccc;
    }
    
    .message-card .date {
        font-size: 9px;
        color: #aaa;
        padding: 0px;
    }
}