<div *ngIf="showRules">
        <p>This game is far from ready.</p>
        <p>Press an arrow key, after your player will appear in the game.</p>
        <p>Press space to shoot.</p>
        <p>Try to avoid the bot to catch you.</p>
    <button ngClass="ok-button" (click)="hideRules()">Go to the game</button>
</div>



<div *ngIf="!showRules" ngClass="online-shooter-container">
    <img src="assets/background.png" alt="grass terrain" class="full-width-image">
    <div *ngFor="let player of players" [style.left.px]="player.positionX" [style.top.px]="player.positionY" 
    class="player">
        <p *ngIf="!player.name.startsWith('bullet-')" class="player-name">{{player.name}}</p>
        <p *ngIf="!player.name.startsWith('bullet-')" class="player-health">{{player.health}} hp</p>
        <img [src]="getImage(player)" alt="animated soldier" width="40">
    </div>
</div>
