.rules-container {
  padding-top: 50px;
}


.online-shooter-container {
    padding-top: 50px;
    background-color: #6b7280;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

p {
    font-size: 28px;
    color: white;
}

h1 {
    margin: 30px 100px;
    font-size: 26px;
    color: white;
    line-height: 1.3;
}

@media only screen and (max-width: 768px) {
    h1 {
        margin: 30px 15px;
        font-size: 20px;
    }
}

/*.player {
  position: absolute;
}

.player-name {
  font-size: 28px;
  color: white;
  margin: 0;
  padding: 0;
}

.player-health {
  font-size: 20px;
  color: rgb(223, 222, 223);
  margin: 0;
  padding: 0;
}*/

.player {
  position: absolute;
  text-align: center;
}

.player-name {
  position: relative;
  top: 0px; 
  font-size: 22px;
  color: white;
  margin: 0;
  padding: 0;
}

.player-health {
  position: relative;
  top: 0px; 
  font-size: 18px;
  color: white;
  margin: 0;
  padding: 0;
}

.player img {
  position: relative;
  top: 0px;
}


.ok-button {
  border: 2px solid #4CAF50;
  background: linear-gradient(85deg,#151515,#262626);
  padding: 5px 15px;
  color: #4CAF50;
  font-size: 22px;
  margin-top: 40px;
  transition-duration: 0.4s;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .ok-button {
    padding: 3px 13px;
    color: #4CAF50;
    font-size: 16px;
    margin-top: 10px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
}

.ok-button:hover {
  background: linear-gradient(85deg,#4CAF50,#262626);
  /*background-color: #4CAF50;*/
  color: white;
}

.full-width-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}